# -*- conf -*-
# References:
# - https://stackoverflow.com/a/4695615/1219634
# - https://stackoverflow.com/a/38297609/1219634

# Cache
caches/

# Fingerprint records
fingerprints/

# Working directories
workspace/

# Secret files
secrets/
secret.*
*.enc
*.key

# Users, accept dummy
/*/users/*
!/*/users/users.xml
!/*/users/dummy*/

# State files
*.state

# Updates
updates/

# Plugins
plugins/

# Extracted jenkins.war
war/

# Job state files
builds/
nextBuildNumber

# Indexing
indexing/

# Log files
logs/
*.log

# Help files
help/

# Don't save the Jenkins URL to git
jenkins.model.JenkinsLocationConfiguration.xml

# Miscellaneous litter
*.bak
.nfs*
.lastStarted
.owner
.timestamp
queue.xml
